development:
  adapter: mysql2
  database: site_services
  encoding: utf8mb4
  username: root
  password: s3cre7
  host: localhost

production:
  adapter: mysql2
  database: site_services
  encoding: utf8mb4
  username: root
  password: sup3rs3cre7
  host: localhost